.backgroundCross {
  background-color: #ffffff;
  opacity: 1;
  background-image:  radial-gradient(#221bb4 2px, transparent 2px), radial-gradient(#221bb4 2px, rgba(0,0,0,0) 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;
}
